certifi==2025.8.3
charset-normalizer==3.4.3
dacite==1.9.2
discord-webhook==1.4.1
docopt-ng==0.9.0
greenlet==3.2.4
idna==3.10
mutagen==1.47.0
pika==1.3.2
psycopg2==2.9.10
python-dateutil==2.9.0.post0
requests==2.32.4
-e git+https://github.com/7x11x13/sc-archive@7bd84df2a6f450d7a4648b69ac7dcb845f0d34d0#egg=sc_archive
scdl==3.0.0
six==1.17.0
soundcloud-v2==1.6.0
SQLAlchemy==1.4.54
urllib3==2.5.0
yt-dlp==2025.7.21
