certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
curl_cffi==0.15.0
dacite==1.9.2
discord-webhook==1.4.1
docopt-ng==0.9.0
greenlet==3.4.0
idna==3.13
markdown-it-py==4.0.0
mdurl==0.1.2
mutagen==1.47.0
pika==1.3.2
psycopg2==2.9.12
pycparser==3.0
Pygments==2.20.0
python-dateutil==2.9.0.post0
requests==2.33.1
rich==15.0.0
-e git+https://github.com/7x11x13/sc-archive.git@9a803bbe43ac91cf360a6c895e1e584891fbbe57#egg=sc_archive
scdl==3.0.4
six==1.17.0
soundcloud-v2==1.7.0
SQLAlchemy==1.4.54
urllib3==2.6.3
yt-dlp==2026.3.17
